# =========================
# Windows
# =========================
desktop.ini
Thumbs.db

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log